<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Audit Logs Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Revision Number</th>
                <th>Changed by</th>
                <th>Change Description</th>
                <th>Field Name</th>
                <th>Old Value</th>
                <th>New Value</th>
                <th>IP</th>
                <th>Date</th>
              </tr>
            </thead>
            <!-- <tbody>
            <tr>
            <td>Lewis Rogers</td>
            <td>Change made to front desk post.</td>
            <td>13/05/1979</td>
          </tr>
          <tr>
          <td>Calvin Kent</td>
          <td>Change made to front desk post.</td>
          <td>16/05/1979</td>
        </tr>
        <tr>
        <td>Tan Kent</td>
        <td>Edited duplicate record</td>
        <td>17/05/1979</td>
      </tr>
    </tbody> -->
  </table>
</div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" id="closeAuditLogsViewBtn">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
