<div class="info-section" style="margin-top:10px;">
  <div class="info-section__header">
    <h1 class="dark">Work Order</h1>
    <h1>&nbsp;</h1>
  </div>
</div><!-- /info-section-->
<div class="container">
  <ol class="breadcrumb breadcrumb--labeled">
    <li>
      <a href="#">
        <div class="breadcrumb__label">0001</div>
        <div class="breadcrumb__text">Dell Ireland</div>
      </a>
    </li>
  </ol><!-- /breadcrumb  -->
  <div class="col-sm-8">
    <div class="panel">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h2>001</h2>
            <h1 class="text-danger">Dell Ireland</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel__heading">
            <div class="panel__title">
              <h4>Details</h4>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <p>
            <span>Type</span>
            <b class="pull-right">Regular</b>
          </p>
          <p>
            <span>Billing Pattern</span>
            <b class="pull-right">Fixed</b>
          </p>
          <p>
            <span>WEF Date</span>
            <b class="pull-right">Jan 1, 2016</b>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <span>Minimum Profitability</span>
            <b class="pull-right">2,057.14</b>
          </p>
          <p>
            <span>Optimum Profitability</span>
            <b class="pull-right">2,880.00</b>
          </p>
          <p>
            <span><i class="glyphicon glyphicon-ok"></i>&nbsp;Open Ended</span>
          </p>
        </div>
      </div>
      <div class="row">
        <br />
        <div class="col-md-6">
          <div class="panel__heading">
            <div class="panel__title">
              <h4>Billing Address</h4>
            </div>
          </div>
          <br />
          <div>
            <span>Cherrywood Park, Dublin, Ireland</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel__heading">
            <div class="panel__title">
              <h4>Remarks</h4>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="row">
        <br />
        <div class="col-md-12">
          <div class="panel__heading">
            <div class="panel__title">
              <h4>Locations</h4>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-4">
              <a href="">
                <div class="panel text-center">
                  <img src="https://maps.googleapis.com/maps/api/staticmap?size=160x160&markers=14.557743,121.0196383" />
                  <h5>Philamlife Tower, Access Rd, Makati, Metro Manila</h5>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="" ng-click="$ctrl.goToCreateLocation()">
                <div class="panel text-center" style="padding:90px 0px;">
                  <i class="glyphicon glyphicon-plus-sign" style="font-size:40px;"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
