<h1>Work Order</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="container">
          <div class="col-md-12">
            <div class="row">
              <div class="page-header">
                <h2>Dell Ireland</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="page-header">
                  <h4>Billing Address</h4>
                </div>
                <div>
                  <span>Cherrywood Park, Dublin, Ireland</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="page-header">
                  <h4>Remarks</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h4>Locations</h4>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <a href="">
                      <div class="panel text-center">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=14.557743,121.0196383" />
                        <h5>Philamlife Tower, Access Rd, Makati, Metro Manila</h5>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <div ng-switch="$ctrl.viewDeeperAdd" class="panel text-center" style="padding:10px;">
                      <div ng-switch-when="true">
                        <button class="btn btn-primary btn-block" type="button" ng-click="$ctrl.goToCreateLocation()">Create New Location</button>
                        or
                        <button class="btn btn-default btn-block" type="button">Add Existing Location</button>
                      </div>
                      <div ng-switch-default>
                        <a href="" ng-click="$ctrl.switchView()">
                          <i class="glyphicon glyphicon-plus-sign" style="font-size:40px;"></i>
                        </a>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
    </div>
  </div>
</div>
</div>
