<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <h1><small>Work Order</small></h1>
                <h2 class="text-danger">Dell Ireland</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span>Type</span>
                <b class="pull-right">Regular</b>
              </p>
              <p>
                <span>Billing Pattern</span>
                <b class="pull-right">Fixed</b>
              </p>
              <p>
                <span>WEF Date</span>
                <b class="pull-right">Jan 1, 2016</b>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <span>Minimum Profitability</span>
                <b class="pull-right">2,057.14</b>
              </p>
              <p>
                <span>Optimum Profitability</span>
                <b class="pull-right">2,880.00</b>
              </p>
              <p>
                <span><i class="glyphicon glyphicon-ok"></i>&nbsp;Open Ended</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="page-header">
                <h4>Billing Address</h4>
              </div>
              <div>
                <span>Cherrywood Park, Dublin, Ireland</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="page-header">
                <h4>Remarks</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header">
                <h4>Locations</h4>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <a href="">
                    <div class="panel text-center">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=14.557743,121.0196383" />
                      <h5>Philamlife Tower, Access Rd, Makati, Metro Manila</h5>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="" ng-click="$ctrl.goToCreateLocation()">
                    <div class="panel text-center" style="padding:50px 0px;">
                      <i class="glyphicon glyphicon-plus-sign" style="font-size:40px;"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
  </div>
</div>
</div>
</div>
