<h2>Personal Profile Attributes</h2>
<div class="panel">
	<div ng-repeat = "attribute in $ctrl.attributes.attributes">
		<div class="panel">

			<div class="row">
			  <div class="col-md-4"><label>Attribute Type</label></div>
			  <div class="col-md-4" ng-bind="attribute.type"></div>
			</div>
			<div class="row">
			  <div class="col-md-4"><label>Description</label></div>
			  <div class="col-md-4" ng-bind="attribute.description"></div>
			</div>
			<div class="row">
			  <div class="col-md-4"><label>Issue Date</label></div>
			  <div class="col-md-4" ng-bind="attribute.issueDate"></div>
			</div>
			<div class="row">
			  <div class="col-md-4"><label>Expiry Date</label></div>
			  <div class="col-md-4" ng-bind="attribute.expiryDate"></div>
			</div>
		</div>
	</div>
</div>