<h2>Personal Profile Attributes</h2>
<div class="panel">
	<table class="table table-striped">
		<tr>
			<th>Attribute Type</th>
			<th>Description</th>
			<th>Proficiency</th>
			<th>Issue Date</th>
			<th>Expiry Date</th>
		</tr>
		<tr ng-repeat="attribute in $ctrl.attributesList.attributes">
			<td ng-bind="attribute.type"></td>
			<td ng-bind="attribute.description"></td>
			<td ng-bind="attribute.proficiency"></td>
			<td ng-bind="attribute.issueDate"></td>
			<td ng-bind="attribute.expiryDate"></td>
		</tr>
	</table>
	<div ng-hide="!!$ctrl.attributesList.attributes.length">
		<h3>No records found</h3>
	</div>
</div>
