<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Audit Logs Details</h4>
    </div>
    <div class="modal-body">

      <div class="panel__heading">
        <div class="panel__title"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>Revision Number</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{$ctrl.auditlog.revisionNumber}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>Changed By</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{$ctrl.auditlog.createdBy}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>Category</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{$ctrl.auditlog.objectType}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>

      <label>Changes</label>
      <div ng-repeat="item in $ctrl.auditlog.body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>Field Name {{$index+1}}</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{item.fieldName}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 pull-right">
              <label>Old Value</label>
              <ul>
                <li class="list-group" ng-repeat="value in item.oldValue">
                  <div class="row">
                    <div class="col-md-12">
                      <span ng-bind="value"></span>
                    </div>
                  </div>
                </li>
              </ul>

              <label>New Value</label>
              <ul>
                <li class="list-group" ng-repeat="value in item.newValue">
                  <div class="row">
                    <div class="col-md-12">
                      <span ng-bind="value"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>IP Address</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{$ctrl.auditlog.ipAddress}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <label>Date</label>
            </div>
            <div class="col-md-4 pull-right">
              <span>{{$ctrl.auditlog.createdDateStr}}</span>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" id="closeAuditLogsViewBtn">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
