<form ng-submit="$ctrl.search()" class="navbar-form navbar-right">
  <div class="search search--site">
    <div class="input-group">
      <input type="text" class="search__control" ng-model="$ctrl.searchTerm" placeholder="Search the system" required/>
      <div class="input-group-wrapper">
        <div class="input-group-btn">
          <button type="button" class="btn btn--filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            on-click>{{$ctrl.buttonLabel}} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li ng-click='$ctrl.setSelected("Everything")'><a href="#">Everything</a></li>
            <li ng-click='$ctrl.setSelected("Location")'><a href="#">Location</a></li>
            <li ng-click='$ctrl.setSelected("People")'><a href="#">People</a></li>
          </ul>
        </div>
      </div>
        <div class="input-group__addon">
            <div class="input-group-btn" ng-click="$ctrl.search()">
            <i class="input__icon material-icons">search</i>
          </div>
        </div>
    </div>
  </div>
</form>
