<form name="searchForm" ng-submit="$ctrl.search()" class="navbar-form navbar-right">
  <div class="search search--site">
    <div class="input-group">
      <input name="queryField" type="text" class="search__control" ng-model="$ctrl.searchTerm" placeholder="Search the system" ng-minlength="2" required formnovalidate />
      <div class="input-group-wrapper">
        <div class="input-group-btn">
          <button type="button" class="btn btn--filter dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{$ctrl.selectedFilter()}} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li ng-repeat="filter in $ctrl.filters" ng-class="{active: filter == $ctrl.selectedFilter()}" ng-click="$ctrl.selectFilter(filter)"><a href ng-bind="filter"></a></li>
          </ul>
        </div>
      </div>
      <div class="input-group__addon">
        <div class="input-group-btn" ng-click="$ctrl.search()" formnovalidate>
        <i class="input__icon material-icons">search</i>
      </div>
      </div>
    </div>
    <!-- error messages -->
    <div ng-messages="searchForm.queryField.$error">
      <div ng-message="required" ng-show="$ctrl.emptyError || searchForm.queryField.$dirty">Please enter a keyword</div>
      <div ng-message="minlength">Please enter at least 2 characters</div>
    </div>
  </div>
</form>
