<div class="panel panel-default">
  <h2>Customer Details</h2>
  <table class="table table-striped">
    <thead>
        <!-- <tr>
            <th>Name</th>
            <th>Cust Number</th>
            <th>Contracts</th>
        <th></th>
        </tr> -->
    </thead>
    <tr>
        <td width="150px;">
            Customer Name
        </td>
        <td ng-bind="$ctrl.customer.customerName">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Customer Number
        </td>
        <td ng-bind="$ctrl.customer.customerNumber">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Customer Code
        </td>
        <td ng-bind="$ctrl.customer.customerCode">
        </td>
    </tr>
    <tr>
        <td width="150px;">
          VAT Number
        </td>
        <td ng-bind="$ctrl.customer.vatNumber">
        </td>
    </tr>
    <tr>
        <td width="150px;">
          Manual Customer Code
        </td>
        <td ng-bind="$ctrl.customer.manualCustomerCode">
        </td>
    </tr>
    <tr>
        <td width="150px;">
          D-U-N-S Number
        </td>
        <td ng-bind="$ctrl.customer.dunsNumber">
        </td>
    </tr>
    <!-- <tr>
        <td width="150px;">
            Address Line 1
        </td>
        <td ng-bind="$ctrl.customer.addressLine1">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Address Line 2
        </td>
        <td ng-bind="$ctrl.customer.addressLine2">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Address Line 3
        </td>
        <td ng-bind="$ctrl.customer.addressLine3">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Address Line 4
        </td>
        <td ng-bind="$ctrl.customer.addressLine4">
        </td>
    </tr> -->
    <!-- <tr>
        <td width="150px;">
            City
        </td>
        <td ng-bind="$ctrl.customer.city">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Zip Code
        </td>
        <td ng-bind="$ctrl.customer.zipCode">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            State
        </td>
        <td ng-bind="$ctrl.customer.state">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Country
        </td>
        <td ng-bind="$ctrl.customer.country">
        </td>
    </tr>
    <tr>
        <td width="150px;">
            Country Code
        </td>
        <td ng-bind="$ctrl.customer.countryCode">
        </td>
    </tr> -->
    <tr>
        <td width="150px;">
          Account Number
        </td>
        <td ng-bind="$ctrl.customer.accountNumber">
        </td>
    </tr>
    <tr>
        <td width="150px;">
          Account Description
        </td>
        <td ng-bind="$ctrl.customer.accountDescription">
        </td>
    </tr>


    <!-- <tr>
        <td width="150px;">
            Payment Method
        </td>
        <td ng-bind="$ctrl.customer.paymentMethod">
        </td>
    </tr> -->
    <!-- <tr>
        <td width="150px;">
            Contracts
        </td>
        <td>
            <a href="#"><span ng-bind="$ctrl.customer.contracts.length"></span></a>
        </td>
    </tr> -->
  </table>
  <div class="row">
    <div class="col-md-3">
      <label class="btn btn-primary clickable" ui-sref="contact.create({accountNumber:$ctrl.customer.accountNumber, id: $ctrl.customer.id, customerNumber: $ctrl.customer.customerNumber})">Add Contact</label>

      <label class="btn btn-primary clickable" ui-sref="contract.create({accountNumber:$ctrl.customer.accountNumber, customerId: $ctrl.customer.id, customerNumber: $ctrl.customer.customerNumber})">Add Contract</label>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <br/>
  <!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Job Title</th>
            <th>Phone 1</th>
            <th>Phone 2</th>
            <th>Mobile</th>
            <th>Email</th>
        <th></th>
        </tr>
    </thead>
      <tr>
          <td width="175px;">
              test
          </td>
          <td width="75px;">
              test
          </td>
          <td width="75px;">
              test
          </td>
          <td width="75px;">
              test
          </td>
          <td width="75px;">
              test
          </td>
          <td width="75px;">
              test
          </td>
      </tr>
  </table> -->
  <h2>Contact</h2>
  <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Job Title</div>
      <div class="col-md-2">Phone 1</div>
      <div class="col-md-2">Phone 2</div>
      <div class="col-md-2">Mobile</div>
      <div class="col-md-2">Email</div>
  </div>
  <div class="row" ng-repeat="contact in $ctrl.contacts">
      <div class="col-md-2">
          <span ng-bind="$ctrl.composeName(contact)"></span>
      </div>
      <div class="col-md-2">
          <span ng-bind="contact.jobTitle"></span>
      </div>
      <div class="col-md-2">
          <span ng-bind="contact.phone1"></span>
      </div>
      <div class="col-md-2">
          <span ng-bind="contact.phone2"></span>
      </div>
      <div class="col-md-2">
          <span ng-bind="contact.mobile"></span>
      </div>
      <div class="col-md-2">
          <span ng-bind="contact.email"></span>
      </div>
  </div>

  <h2>Contracts</h2>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Number</th>
            <th>Contract Number</th>
            <th>Contract Name</th>
            <th>title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Review Date</th>
            <th>Signed Date</th>
            <th>WEF Date</th>
        </tr>
    </thead>
    <tr class="clickable" ng-repeat="custContract in $ctrl.customerContracts" ui-sref="contract.view({contractNumber:custContract.number})">
        <td ng-bind="custContract.customer.customerNumber"></td>
        <td ng-bind="custContract.number"></td>
        <td ng-bind="custContract.name"></td>
        <td ng-bind="custContract.title"></td>
        <td ng-bind="custContract.startDateStr"></td>
        <td ng-bind="custContract.endDateStr"></td>
        <td ng-bind="custContract.reviewDateStr"></td>
        <td ng-bind="custContract.signedDateStr"></td>
        <td ng-bind="custContract.wefDateStr"></td>
    </tr>
  </table>
</div>
