<style>
.messageError {
  color: red;
}
</style>
<div class="info-section" style="margin-top:10px;">
  <div class="info-section__header">
    <h1 class="dark" ng-show="$ctrl.transactionParam == 'e'">Edit Post</h1>
    <h1 class="dark" ng-show="$ctrl.transactionParam == 'd'">Duplicate Post</h1>
    <h1>&nbsp;</h1>
  </div>
</div><!-- /info-section-->
<div class="container">
  <div class="col-md-8">
    <div class="panel">
      <form name="createPostForm" ng-submit="$ctrl.update()">
        <div class="panel__heading">
          <div class="panel__title">Post Details</div>
        </div>
        <div class="alert alert-danger" ng-show="$ctrl.model.errMessage">
          {{$ctrl.model.errMessage}}
        </div>
        <div class="form-group">
          <label for="postTitle">Post Title</label>
          <input type="text" class="form-control" name="postTitle" id="postTitle" ng-model="$ctrl.post.name" required/>
          <div ng-messages="createPostForm.postTitle.$error">
            <div ng-message="required" class="messageError">This field is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <ui-select id="postRole" ng-model="$ctrl.post.role" theme="bootstrap">
            <ui-select-match placeholder="Select a role">
              <span ng-bind="$ctrl.post.role.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in $ctrl.postRoleChoices" refresh="$ctrl.postRoleChoices"
            refresh-delay="5" >
            <span class="role-option" ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
        </div>
        <div class="form-group">
          <label for="employeesNeeded">Number of Employees</label>
          <input type="number" class="form-control" name="numberOfEmployees" id="numberOfEmployees"
          min="0" ng-model="$ctrl.post.numberOfEmployees"/>
        </div>
        <div class="form-group">
          <label for="postCoverType">Post Cover Type</label>
          <select id="postCover" name="postCover" class="form-control pc-choices"
          ng-model="$ctrl.post.postCover"
          ng-options="option.name for option in $ctrl.postModel.postCoverChoices track by option.id">
        </select>
      </div>
        <div class="panel__heading">
          <div class="panel__title">Requirements</div>
        </div>
        <div class="form-group">
          <label for="isIdRequired">Identification required?</label>
          <input type="radio" name="isIdRequired" ng-value="true" ng-checked="$ctrl.post.identificationRequired"
            ng-model="$ctrl.post.isIdentificationRequired">Yes
          <input type="radio" name="isIdRequired" ng-value="false" ng-checked="!$ctrl.post.identificationRequired"
            ng-model="$ctrl.post.isIdentificationRequired">No
        </div>
        <div class="form-group">
          <label for="licenses">Licenses Required</label>
          <ui-select id="licenses" ng-model="$ctrl.selectedLicense" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.licenses, $ctrl.selectedLicense)">
            <ui-select-match placeholder="Search for Licenses..">
              <span ng-bind="$ctrl.selectedLicense.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.licenseChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshLicenses()"
                               refresh-delay="5">
              <span class="license-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.licenses">
            <li class="list-group-item ss-selected-item" ng-repeat="license in $ctrl.post.licenses">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="license.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.licenses, license.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="equipments">Equipments</label>
          <ui-select id="equipments" ng-model="$ctrl.selectedEquipment" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.equipments, $ctrl.selectedEquipment)">
            <ui-select-match placeholder="Search for Equipments..">
              <span ng-bind="$ctrl.selectedEquipment.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.equipmentChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshEquipments()"
                               refresh-delay="5">
              <span class="eq-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.equipments">
            <li class="list-group-item ss-selected-item" ng-repeat="equipment in $ctrl.post.equipments" ng-hide="equipment.deleted">
              <div class="row">
                <div class="col-md-8">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                  <span ng-bind="equipment.name"></span>
                </div>
                <div class="col-md-1">
                  <label>Qty:</label>
                </div>
                <div class="col-md-2">
                  <input type="number" class="form-control" name="eqipQty" id="eqipQty" size="5"
                    ng-model="equipment.quantity"/>
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                          ng-click="$ctrl.model.hideFromDisplay($ctrl.post.equipments, equipment.id)">
                    <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="skills">Skills Required</label>
          <ui-select id="skills" ng-model="$ctrl.selectedPostSkill" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.postSkills, $ctrl.selectedPostSkill)">
            <ui-select-match placeholder="Search for Skills..">
              <span ng-bind="$ctrl.selectedPostSkill.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.postSkillChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshPostSkills()"
                               refresh-delay="5">
              <span class="skills-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.postSkills">
            <li class="list-group-item ss-selected-item" ng-repeat="skill in $ctrl.post.postSkills">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="skill.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.postSkills, skill.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="uniforms">Uniforms</label>
          <ui-select id="uniforms" ng-model="$ctrl.selectedUniform" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.uniforms, $ctrl.selectedUniform)">
            <ui-select-match placeholder="Search for Uniforms..">
              <span ng-bind="$ctrl.selectedUniform.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.uniformChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshUniforms()"
                               refresh-delay="5">
              <span class="uniform-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.uniforms">
            <li class="list-group-item ss-selected-item" ng-repeat="uniform in $ctrl.post.uniforms">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="uniform.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.uniforms, uniform.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="healthAndSafety">Health and Safety Requirements</label>
          <ui-select id="uniforms" ng-model="$ctrl.selectedHealthSafetyReq" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.healthSafetyRequirements, $ctrl.selectedHealthSafetyReq)">
            <ui-select-match placeholder="Search for Requirements..">
              <span ng-bind="$ctrl.selectedHealthSafetyReq.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.healthSafetyRequirementsChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshHealthSafetyRequirements()"
                               refresh-delay="5">
              <span class="hs-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.healthSafetyRequirements">
            <li class="list-group-item ss-selected-item" ng-repeat="hsReq in $ctrl.post.healthSafetyRequirements">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="hsReq.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.healthSafetyRequirements, hsReq.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Customer Preferences</div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <span ng-repeat="genderChoice in $ctrl.genderChoices" >
            <input class="gender-radio" type="radio" name="gender" ng-value="genderChoice"
              ng-model="$ctrl.post.preferences.gender"
              />
            {{genderChoice.name}}
          </span>
        </div>
        <div class="form-group">
          <label for="training">Trainings</label>
          <ui-select ng-model="$ctrl.selectedTraining" theme="bootstrap"
                on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.trainings, $ctrl.selectedTraining)">
                <ui-select-match placeholder="Search for trainings..">
                  <span ng-bind="$ctrl.selectedTraining.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in ($ctrl.postModel.trainingChoices | filter: $select.search) track by item.id"
                refresh="$ctrl.postModel.refreshTrainingSearch($select.search)"
                refresh-delay="5">
                <span class="training-option" ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>
            <ul class="list-group" ng-show="$ctrl.post.preferences.trainings">
              <li class="list-group-item training-selected-item" ng-repeat="item in $ctrl.post.preferences.trainings">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                <span ng-bind="item.name"></span>
                <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.trainings, item.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="language">Languages</label>
          <ui-select ng-model="$ctrl.selectedLanguage" theme="bootstrap"
              on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.languages, $ctrl.selectedLanguage)">
              <ui-select-match placeholder="Search for languages..">
                <span ng-bind="$ctrl.selectedLanguage.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in ($ctrl.postModel.languageChoices | filter: $select.search) track by item.id"
              refresh="$ctrl.postModel.refreshLanguageSearch($select.search)"
              refresh-delay="5">
              <span class="language-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.postModel.post.preferences.languages">
            <li class="list-group-item language-selected-item" ng-repeat="item in $ctrl.post.preferences.languages">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="item.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
              ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.languages, item.id)">
              <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
            </button>
          </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="physicalCondition">Physical Conditions</label>
          <ui-select ng-model="$ctrl.selectedPhysicalCondition" theme="bootstrap"
            on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.physicalConditions, $ctrl.selectedPhysicalCondition)">
            <ui-select-match placeholder="Search for physical conditions..">
              <span ng-bind="$ctrl.selectedPhysicalCondition.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.physicalConditionChoices | filter: $select.search) track by item.id"
              refresh="$ctrl.postModel.refreshPhysicalConditionSearch($select.search)"
              refresh-delay="5">
              <span class="pc-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.preferences.physicalConditions">
          <li class="list-group-item language-selected-item" ng-repeat="item in $ctrl.post.preferences.physicalConditions">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
            <span ng-bind="item.name"></span>
            <button type="button" class="btn btn-link" style="color: #080808; float: right;"
            ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.physicalConditions, item.id)">
            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          </button>
          </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="height">Height (cm)</label>
          <input type="number" class="form-control" name="height" id="height" ng-model="$ctrl.post.preferences.height" />
        </div>
        <div class="form-group">
          <label for="qualifications">Qualifications</label>
          <ui-select id="uniforms" ng-model="$ctrl.postModel.selectedQualification" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.qualifications, $ctrl.postModel.selectedQualification)">
            <ui-select-match placeholder="Search for Qualifications..">
              <span ng-bind="$ctrl.postModel.selectedQualification.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.qualificationChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshQualifications()"
                               refresh-delay="5">
              <span class="qual-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.preferences.qualifications">
            <li class="list-group-item ss-selected-item" ng-repeat="qualification in $ctrl.post.preferences.qualifications">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="qualification.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.qualifications, qualification.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="qualifications">Religions</label>
          <ui-select id="uniforms" ng-model="$ctrl.postModel.selectedReligion" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.religions, $ctrl.postModel.selectedReligion)">
            <ui-select-match placeholder="Search for Religions..">
              <span ng-bind="$ctrl.postModel.selectedReligion.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.religionChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshReligions()"
                               refresh-delay="5">
              <span class="religion-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.preferences.religions">
            <li class="list-group-item ss-selected-item" ng-repeat="religion in $ctrl.post.preferences.religions">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="religion.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.religions, religion.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <!--
        <div class="panel__heading">
          <div class="panel__title">Additional Constraints</div>
        </div>
        <div class="form-group">
          <label for="softConstraints">Soft Constraints</label>
          <select name="softConstraints" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <label for="hardConstraints">Hard Constraints</label>
          <select name="hardConstraints" class="form-control">
          </select>
        </div>
        -->
        <div class="panel__heading">
          <div class="panel__title">Shift Information and Billing</div>
        </div>
        <div class="form-group">
          <label for="chargeRate">Charge Rate</label>
          <input type="number" class="form-control" name="chargeRate" id="chargeRate" min="0"
            step="any" ng-model="$ctrl.post.chargeRate"/>
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" class="form-control" name="startTime" id="startTime" ng-model="$ctrl.post.startTime"
            ng-change="$ctrl.postModel.updateHours($ctrl.post)"/>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" class="form-control" name="endTime" id="endTime" ng-model="$ctrl.post.endTime"
            ng-change="$ctrl.postModel.updateHours($ctrl.post)"/>
        </div>
        <div class="form-group">
          <label for="hours">Hours</label>
          <input type="text" class="form-control" name="hours" id="hours" value="0" ng-model="$ctrl.post.hours" readonly/>
        </div>
        <div class="form-group">
          <label for="bookOnd">Book on?</label>
          <input type="radio" name="bookOn" ng-value="true" ng-checked="$ctrl.post.bookOn" ng-model="$ctrl.post.bookOn">Yes
          <input type="radio" name="bookOn" ng-value="false" ng-checked="!$ctrl.post.bookOn" ng-model="$ctrl.post.bookOn">No
        </div>
        <div class="form-group">
          <label for="bookOff">Book off?</label>
          <input type="radio" name="bookOff" ng-value="true" ng-checked="$ctrl.post.bookOff" ng-model="$ctrl.post.bookOff">Yes
          <input type="radio" name="bookOff" ng-value="false" ng-checked="!$ctrl.post.bookOff" ng-model="$ctrl.post.bookOff">No
        </div>
        <div class="form-group">
          <label for="callIn">Call in?</label>
          <input type="radio" name="callIn" ng-value="true" ng-model="$ctrl.post.callIn">Yes
          <input type="radio" name="callIn" ng-value="false" ng-model="$ctrl.post.callIn">No
          <label for="frequency"></label>
          <select name="frequency" class="form-control cif-choices"
           ng-model="$ctrl.post.callInFrequency"
           ng-options="option.name for option in $ctrl.callInFrequencyChoices track by option.id">
          </select>
        </div>
        <div class="form-group">
          <label for="allowances">Allowances</label>
          <ui-select id="allowances" ng-model="$ctrl.postModel.selectedPostAllowances" theme="bootstrap"
          on-select="$ctrl.postModel.addToEditArray($ctrl.post.allowances, $ctrl.postModel.selectedPostAllowances)">
          <ui-select-match placeholder="Select an Allowance...">
            <span ng-bind="$ctrl.postModel.selectedPostAllowances.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in ($ctrl.postModel.postAllowancesChoices | filter: $select.search) track by item.id"
          refresh="$ctrl.postModel.refreshPostAllowances()"
          refresh-delay="5">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
        </ui-select>
        <ul class="list-group" ng-show="$ctrl.post.allowances">
          <li class="list-group-item ss-selected-item" ng-repeat="allowance in $ctrl.post.allowances" ng-hide="allowance.deleted">
            <div class="row">
              <div class="col-md-8">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                <span ng-bind="allowance.name"></span>
              </div>
              <div class="col-md-1">
                <label>Amount:  </label>
                <label class="text-muted">
                  <input type="checkbox" ng-model="allowance.billed"> Billed&nbsp;
                </label>
              </div>
              <div class="col-md-2">
                <input type="number" class="form-control" name="allowanceAmount" id="allowanceAmount" size="5"
                  ng-model="allowance.amount" step="0.01"/>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                        ng-click="$ctrl.model.hideFromDisplay($ctrl.post.allowances, allowance.id)">
                  <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Other Information</div>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea name="notes" class="form-control" rows="3" ng-model="$ctrl.post.notes"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
