<div class="info-section" style="margin-top:10px;">
  <div class="info-section__header">
    <h1 class="dark">Create Post</h1>
    <h1>&nbsp;</h1>
  </div>
</div><!-- /info-section-->
<div class="container">
  <div class="col-md-8">
    <div class="panel">
      <form name="createPostForm">
        <div class="panel__heading">
          <div class="panel__title">Post Details</div>
        </div>
        <div class="form-group">
          <label for="postTitle">Post Title</label>
          <input type="text" class="form-control" name="postTitle" id="postTitle" ng-model="$ctrl.post.name"/>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" class="form-control" name="postTitle" id="role" ng-model="$ctrl.post.role"/>
        </div>
        <div class="form-group">
          <label for="employeesNeeded">Number of Employees</label>
          <input type="number" class="form-control" name="numberOfEmployees" id="numberOfEmployees" ng-model="$ctrl.post.numberOfEmployees"/>
        </div>
        <div class="form-group">
          <label for="postCoverType">Post Cover Type</label>
          <select class="form-control" ng-options="pc.id as pc.name for pc in $ctrl.postCoverChoices"
            ng-model="$ctrl.post.postCover">
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Requirements</div>
        </div>
        <div class="form-group">
          <label for="isIdRequired">Employee ID required?</label>
          <input type="radio" name="isIdRequired" ng-value="true" ng-checked="$ctrl.post.identificationRequired"
            ng-model="$ctrl.post.isIdentificationRequired">Yes
          <input type="radio" name="isIdRequired" ng-value="false" ng-checked="!$ctrl.post.identificationRequired"
            ng-model="$ctrl.post.isIdentificationRequired">No
        </div>
        <div class="form-group">
          <label for="licenses">Licenses Required</label>
          <ui-select id="licenses" ng-model="$ctrl.selectedLicense" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.licenses, $ctrl.selectedLicense)">
            <ui-select-match placeholder="Select a License">
              <span ng-bind="$ctrl.selectedLicense.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.licenseChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshLicenses()"
                               refresh-delay="5">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.licenses">
            <li class="list-group-item ss-selected-item" ng-repeat="license in $ctrl.post.licenses">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="license.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.licenses, license.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="equipments">Equipment</label>
          <ui-select id="equipments" ng-model="$ctrl.selectedEquipment" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.equipments, $ctrl.selectedEquipment)">
            <ui-select-match placeholder="Select an Equipment">
              <span ng-bind="$ctrl.selectedEquipment.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.equipmentChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshEquipments()"
                               refresh-delay="5">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.equipments">
            <li class="list-group-item ss-selected-item" ng-repeat="equipment in $ctrl.post.equipments">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="equipment.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.equipments, equipment.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="skills">Skills Required</label>
          <ui-select id="skills" ng-model="$ctrl.selectedPostSkill" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.skills, $ctrl.selectedPostSkill)">
            <ui-select-match placeholder="Select a Skill">
              <span ng-bind="$ctrl.selectedPostSkill.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.postSkillChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshPostSkills()"
                               refresh-delay="5">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.skills">
            <li class="list-group-item ss-selected-item" ng-repeat="skill in $ctrl.post.skills">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="skill.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.skills, skill.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="uniforms">Uniforms</label>
          <ui-select id="uniforms" ng-model="$ctrl.selectedUniform" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.uniforms, $ctrl.selectedUniform)">
            <ui-select-match placeholder="Select a Uniform">
              <span ng-bind="$ctrl.selectedUniform.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.uniformChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshUniforms()"
                               refresh-delay="5">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.uniforms">
            <li class="list-group-item ss-selected-item" ng-repeat="uniform in $ctrl.post.uniforms">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="uniform.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.uniforms, uniform.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="healthAndSafety">Health and Safety Requirements</label>
          <ui-select id="uniforms" ng-model="$ctrl.selectedHealthSafetyReq" theme="bootstrap"
                     on-select="$ctrl.postModel.addToArray($ctrl.post.healthSafetyRequirements, $ctrl.selectedHealthSafetyReq)">
            <ui-select-match placeholder="Select a Requirement...">
              <span ng-bind="$ctrl.selectedHealthSafetyReq.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.healthSafetyRequirementsChoices | filter: $select.search) track by item.id"
                               refresh="$ctrl.postModel.refreshHealthSafetyRequirements()"
                               refresh-delay="5">
              <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.healthSafetyRequirements">
            <li class="list-group-item ss-selected-item" ng-repeat="hsReq in $ctrl.post.healthSafetyRequirements">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="hsReq.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                      ng-click="$ctrl.postModel.removeFromArray($ctrl.post.healthSafetyRequirements, hsReq.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Customer Preferences</div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <span ng-repeat="genderChoice in $ctrl.genderChoices">
            <input type="radio" name="gender" ng-value="genderChoice"
              ng-checked="$ctrl.post.preferences.gender" ng-model="$ctrl.post.preferences.gender"/>
            {{genderChoice.name}}
          </span>
        </div>
        <div class="form-group">
          <label for="training">Training</label>
          <ui-select ng-model="$ctrl.selectedTraining" theme="bootstrap"
                on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.trainings, $ctrl.selectedTraining)">
                <ui-select-match placeholder="Search for trainings..">
                  <span ng-bind="$ctrl.selectedTraining.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in ($ctrl.postModel.trainingChoices | filter: $select.search) track by item.id"
                refresh="$ctrl.postModel.refreshTrainingSearch($select.search)"
                refresh-delay="5">
                <span class="training-option" ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>
            <ul class="list-group" ng-show="$ctrl.post.preferences.trainings">
              <li class="list-group-item training-selected-item" ng-repeat="item in $ctrl.post.preferences.trainings">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                <span ng-bind="item.name"></span>
                <button type="button" class="btn btn-link" style="color: #080808; float: right;"
                ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.trainings, item.id)">
                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <ui-select ng-model="$ctrl.selectedLanguage" theme="bootstrap"
              on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.languages, $ctrl.selectedLanguage)">
              <ui-select-match placeholder="Search for languages..">
                <span ng-bind="$ctrl.selectedLanguage.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in ($ctrl.postModel.languageChoices | filter: $select.search) track by item.id"
              refresh="$ctrl.postModel.refreshLanguageSearch($select.search)"
              refresh-delay="5">
              <span class="language-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.postModel.post.preferences.languages">
            <li class="list-group-item language-selected-item" ng-repeat="item in $ctrl.post.preferences.languages">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
              <span ng-bind="item.name"></span>
              <button type="button" class="btn btn-link" style="color: #080808; float: right;"
              ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.languages, item.id)">
              <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
            </button>
          </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="physicalCondition">Physical Condition</label>
          <ui-select ng-model="$ctrl.selectedPhysicalCondition" theme="bootstrap"
            on-select="$ctrl.postModel.addToArray($ctrl.post.preferences.physicalConditions, $ctrl.selectedPhysicalCondition)">
            <ui-select-match placeholder="Search for physical conditions..">
              <span ng-bind="$ctrl.selectedPhysicalCondition.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in ($ctrl.postModel.physicalConditionChoices | filter: $select.search) track by item.id"
              refresh="$ctrl.postModel.refreshPhysicalConditionSearch($select.search)"
              refresh-delay="5">
              <span class="pc-option" ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
          <ul class="list-group" ng-show="$ctrl.post.preferences.physicalConditions">
          <li class="list-group-item language-selected-item" ng-repeat="item in $ctrl.post.preferences.physicalConditions">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
            <span ng-bind="item.name"></span>
            <button type="button" class="btn btn-link" style="color: #080808; float: right;"
            ng-click="$ctrl.postModel.removeFromArray($ctrl.post.preferences.physicalConditions, item.id)">
            <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          </button>
          </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="height">Height (cm)</label>
          <input type="number" class="form-control" name="height" id="height" ng-model="$ctrl.post.preferences.height" />
        </div>
        <div class="form-group">
          <label for="qualifications">Qualifications</label>
          <select name="qualifications" class="form-control">
            <option>College Graduate</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Additional Constraints</div>
        </div>
        <div class="form-group">
          <label for="softConstraints">Soft Constraints</label>
          <select name="softConstraints" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <label for="hardConstraints">Hard Constraints</label>
          <select name="hardConstraints" class="form-control">
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Shift Information and Billing</div>
        </div>
        <div class="form-group">
          <label for="chargeRate">Charge Rate</label>
          <input type="number" class="form-control" name="chargeRate" id="chargeRate" ng-model="$ctrl.post.chargeRate"/>
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" class="form-control" name="startTime" id="startTime" ng-model="$ctrl.post.startTime"/>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" class="form-control" name="endTime" id="endTime" ng-model="$ctrl.post.endTime"/>
        </div>
        <div class="form-group">
          <label for="hours">Hours</label>
          <input type="text" class="form-control" name="hours" id="hours" value="0" ng-model="$ctrl.post.hours" readonly/>
        </div>
        <div class="form-group">
          <label for="bookOnd">Book on?</label>
          <input type="radio" name="bookOn" ng-value="true" ng-checked="$ctrl.post.bookOn" ng-model="$ctrl.post.isBookOn">Yes
          <input type="radio" name="bookOn" ng-value="false" ng-checked="!$ctrl.post.bookOn" ng-model="$ctrl.post.isBookOn">No
        </div>
        <div class="form-group">
          <label for="bookOff">Book off?</label>
          <input type="radio" name="bookOff" ng-value="true" ng-checked="$ctrl.post.bookOff" ng-model="$ctrl.post.isBookOff">Yes
          <input type="radio" name="bookOff" ng-value="false" ng-checked="!$ctrl.post.bookOff" ng-model="$ctrl.post.isBookOff">No
        </div>
        <div class="form-group">
          <label for="callIn">Call in?</label>
          <input type="radio" name="callIn" ng-value="true" ng-model="$ctrl.post.callIn">Yes
          <input type="radio" name="callIn" ng-value="false" ng-model="$ctrl.post.callIn">No
          <label for="frequency"></label>
          <select name="frequency" class="form-control"
           ng-model="$ctrl.post.callInFrequency"
           ng-options="option.name for option in $ctrl.callInFrequencyChoices track by option.id">
          </select>
        </div>
        <div class="form-group">
          <label for="allowances">Allowances</label>
          <select name="allowances" class="form-control">
            <option>Travel Allowance</option>
            <option>Others</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Other Information</div>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea name="notes" class="form-control" rows="3" ng-model="$ctrl.post.notes"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="$ctrl.update()">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
