<div class="info-section" style="margin-top:10px;">
  <div class="info-section__header">
    <h1 class="dark">Create Post</h1>
    <h1>&nbsp;</h1>
  </div>
</div><!-- /info-section-->
<div class="container">
  <div class="col-md-8">
    <div class="panel">
      <form name="createPostForm">
        <div class="panel__heading">
          <div class="panel__title">Post Details</div>
        </div>
        <div class="form-group">
          <label for="postTitle">Post Title</label>
          <input type="text" class="form-control" name="postTitle" id="postTitle" ng-model="$ctrl.post.title"/>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" class="form-control" name="postTitle" id="role" ng-model="$ctrl.post.role"/>
        </div>
        <div class="form-group">
          <label for="employeesNeeded">Employees Needed</label>
          <input type="number" class="form-control" name="employeesNeeded" id="employeesNeeded" ng-model="$ctrl.post.employeesNeeded"/>
        </div>
        <div class="form-group">
          <label for="postCoverType">Post Cover Type</label>
          <select name="postCoverType" class="form-control">
            <option value="volvo">168 hours</option>
            <option value="volvo">24/7</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Requirements</div>
        </div>
        <div class="form-group">
          <label for="isIdRequired">Employee ID required?</label>
          <input type="radio" name="isIdRequired" value="yes" checked>Yes
          <input type="radio" name="isIdRequired" value="no">No
        </div>
        <div class="form-group">
          <label for="licenses">Licenses Required</label>
          <select name="licenses" class="form-control">
            <option>Driver's License</option>
            <option>Firearms License</option>
          </select>
        </div>
        <div class="form-group">
          <label for="skills">Skills Required</label>
          <select name="skills" class="form-control">
            <option>Dog Handling</option>
            <option>First Aid</option>
          </select>
        </div>
        <div class="form-group">
          <label for="uniforms">Uniforms</label>
          <select name="uniforms" class="form-control">
            <option>Enterprise Standard Uniform</option>
            <option>Army Combat Uniform</option>
          </select>
        </div>
        <div class="form-group">
          <label for="healthAndSafety">Health and Safety Requirements</label>
          <select name="healthAndSafety" class="form-control">
            <option>Physical Exam</option>
            <option>Drug Test</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Customer Preferences</div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <input type="radio" name="gender" value="yes" checked>Any
          <input type="radio" name="gender" value="no">Male
          <input type="radio" name="gender" value="no">Female
        </div>
        <div class="form-group">
          <label for="training">Training</label>
          <select name="training" class="form-control">
            <option>Combat Training</option>
            <option>Emergency Response Training</option>
          </select>
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <select name="language" class="form-control">
            <option>English</option>
            <option>French</option>
          </select>
        </div>
        <div class="form-group">
          <label for="physicalCondition">Physical Condition</label>
          <select name="physicalCondition"class="form-control">
            <option>Athletic</option>
            <option>Heavy-built</option>
          </select>
        </div>
        <div class="form-group">
          <label for="height">Height (cm)</label>
          <input type="number" class="form-control" name="height" id="height" />
        </div>
        <div class="form-group">
          <label for="qualifications">Qualifications</label>
          <select name="qualifications" class="form-control">
            <option>College Graduate</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Additional Constraints</div>
        </div>
        <div class="form-group">
          <label for="softConstraints">Soft Constraints</label>
          <select name="softConstraints" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <label for="hardConstraints">Hard Constraints</label>
          <select name="hardConstraints" class="form-control">
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Shift Information and Billing</div>
        </div>
        <div class="form-group">
          <label for="chargeRate">Charge Rate</label>
          <input type="number" class="form-control" name="chargeRate" id="chargeRate"/>
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" class="form-control" name="startTime" id="startTime"/>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" class="form-control" name="endTime" id="endTime"/>
        </div>
        <div class="form-group">
          <label for="hours">Hours</label>
          <input type="text" class="form-control" name="hours" id="hours" value="0" readonly/>
        </div>
        <div class="form-group">
          <label for="bookOnd">Book on?</label>
          <input type="radio" name="bookOn" value="yes" checked>Yes
          <input type="radio" name="bookOn" value="no">No
        </div>
        <div class="form-group">
          <label for="bookOff">Book off?</label>
          <input type="radio" name="bookOff" value="yes" checked>Yes
          <input type="radio" name="bookOff" value="no">No
        </div>
        <div class="form-group">
          <label for="callIn">Call in?</label>
          <input type="radio" name="callIn" value="yes" checked>Yes
          <input type="radio" name="callIn" value="no">No
          <label for="frequency"></label>
          <select name="frequency" class="form-control">
            <option>every 30 mins</option>
            <option>every 1 hr</option>
            <option>every 2 hrs</option>
          </select>
        </div>
        <div class="form-group">
          <label for="allowances">Allowances</label>
          <select name="allowances" class="form-control">
            <option>Travel Allowance</option>
            <option>Others</option>
          </select>
        </div>
        <div class="panel__heading">
          <div class="panel__title">Other Information</div>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea name="notes" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
