<h2>Licences / Qualifications</h2>
<div class="panel">
	<table class="table table-striped">
		<tr>
			<th>Licence Number</th>
			<th>Licence type</th>
			<th>Licence Category</th>
			<th>Issue Date</th>
			<th>Expiry Date</th>
		</tr>
		<tr ng-repeat="licence in $ctrl.licences.licences">
			<td ng-bind="licence.licenceNumber"></td>
			<td ng-bind="licence.type"></td>
			<td ng-bind="licence.category"></td>
			<td ng-bind="licence.issueDate"></td>
			<td ng-bind="licence.expiryDate"></td>
		</tr>
	</table>
	<div ng-hide="!!$ctrl.licences.licences.length">
	<h3>No records found</h3>
	</div>
</div>
