<h2>Pay Information</h2>
<div class="panel">
  <table class="table table-striped">
    <tr>
      <th>Contract Hour Threshold</th>
      <th>Contract Hour Period </th>
      <th>Contract Days</th>
    </tr>
    <tr ng-repeat="contractedHour in $ctrl.employeeContractedHours.employeeContractedHours">
      <td ng-bind="contractedHour.contractHourThreshold"></td>
      <td ng-bind="contractedHour.contractHourPeriod"></td>
      <td ng-bind="contractedHour.contractDays"></td>
    </tr>
  </table>
  <div ng-show="$ctrl.employeeContractedHours.employeeContractedHours.length == null">
    <h3>No Records for Employee Contracted Hours/Period</h3>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Rate</th>
      <th>Rate Currency</th>
    </tr>
    <tr ng-repeat="payRates in $ctrl.employeePayRates.employeePayRates">
      <td ng-bind="payRates.rate"></td>
      <td ng-bind="payRates.rateCurrency"></td>
    </tr>
  </table>
  <div ng-hide="!!$ctrl.employeePayRates.employeePayRates.length">
    <h3>No records found</h3>
  </div>
</div>
