<h1>View Pay Info</h1>
<div class="panel">
	<div class="row" >
    <div class="col-md-4"><label>ID</label></div>

    <div class="col-md-4" ng-bind="$ctrl.employeeId"></div>
  </div>
 <!--  <div class="row" >
    <div class="col-md-4"><label>Pay Indicator</label></div>
    <div class="col-md-4" ng-bind="$ctrl.employee.payIndicator"></div>
  </div>
  <div class="row">
    <div class="col-md-4"><label>Pay Group</label></div>
    <div class="col-md-4" ng-bind="$ctrl.employee.payGroup">
  </div>
  <div class="row">
    <div class="col-md-4"><label>Basic Hours</label></div>
    <div class="col-md-4" ng-bind="$ctrl.employee.basicHours"></div>
  </div>
  <div class="row">
    <div class="col-md-4"><label>Overtime Threshold</label></div>
    <div class="col-md-4" ng-bind="$ctrl.employee.overtimeThreshold"></div>
  </div>
  <div class="row">
    <div class="col-md-4"><label>Overtime Period</label></div>
   <div class="col-md-4" ng-bind="$ctrl.employee.overTimePeriod"></div>
  </div>-->
  <div class="row">
    <div class="col-md-4"><label>Contract Hour Threshold</label></div>
    <div ng-repeat="contractHour in $ctrl.employeeContractedHours.employeeContractedHours">
    	<div class="col-md-4" ng-bind="contractHour.contractHourThreshold"></div>
    </div>
  </div>

</div>