<table class="table table-hover" ng-show="$ctrl.auditlogsList.length > 0">
  <thead>
    <tr>
      <th>Changed by</th>
      <th>Change Description</th>
      <th>Date</th>
      <th><th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="auditlog in $ctrl.auditlogsList | limitTo:10" data-toggle="modal" data-target="#viewAuditlogsModal" ng-click="$ctrl.viewAuditlogDetails(auditlog)">
      <td>{{auditlog.revised_by}}</td>
      <td>
        {{auditlog.action}}
          <li ng-repeat="item in auditlog.body">
            <div class="row">
                <span>{{item.fieldName}}</span>
            </div>
          </li>
        </ul>
      </td>
      <td>{{auditlog.revision_date}}</td>
      <div class="modal fade" id="viewAuditlogsModal" tabindex="-1" role="dialog" aria-labelledby="viewAuditlogsModal">
        <auditlogs-view auditlog="$ctrl.model.auditlog" ></auditlogs-view>
      </div>
    </tr>
  </tbody>
</table>
